@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.hoverable {
    -webkit-box-shadow: 0px 0 10px rgba(20, 20, 20, 0.8);
    box-shadow: 0px 0 10px rgba(20, 20, 20, 0.8);

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    transition-duration: 0.7s;

    &:hover {
        box-shadow: 0px 0 5px rgba(0, 0, 0, 0.8);

        cursor: pointer;
        opacity: 0.85;
    }

    &:active {
        box-shadow: 0px 0 3px rgba(0, 0, 0, 0.6);

        opacity: 0.7;
    }
}