@import '../assets/css/variables';

.contact__content {
    @extend %page-content;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    img {
        height: auto;
        margin: 0 0 30px;
        width: 125px;
    }
}