@import '../assets/css/variables';

.content {
    margin-left: calc(#{$sidebar-width} + #{$sidebar-shadow});
    padding: 10px 0 0 10px;
    position: absolute; /* Ensure the content is to the right of the sidebar */

    height: calc(100% - 10px);
    width: calc(100% - #{$sidebar-width} - 10px - #{$sidebar-shadow});

    @media screen and (max-width: $mobile-size) {
        margin-left: 0;

        width: 95%;
    }
}
